#barchart{
	background-color: #E6F3F7;
	padding-right: 40px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: black;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: some;
}

