.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td {
    padding: 1px 4px;
	color: white;
	font-weight:bold;
	font-size: 150%;
}
th{
	padding-top: 30px;
	font-size:200%;
}